annotated-types==0.7.0
certifi==2026.2.25
charset-normalizer==3.4.7
colorama==0.4.6
dotenv==0.9.9
graphdatascience==1.20
idna==3.11
kagglehub @ git+https://github.com/Kaggle/kagglehub.git@76690ea00850b300bb914dab94287e6933b7900c
kagglesdk==0.1.18
multimethod==2.0.2
neo4j==6.1.0
numpy==2.3.5
packaging==26.0
pandas==2.3.3
protobuf==7.34.1
pyarrow==23.0.1
pydantic==2.13.1
pydantic_core==2.46.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pytz==2026.1.post1
PyYAML==6.0.3
requests==2.33.1
six==1.17.0
tenacity==9.1.4
textdistance==4.6.3
tqdm==4.67.3
typing-inspection==0.4.2
typing_extensions==4.15.0
tzdata==2026.1
urllib3==2.6.3
